* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(169, 98, 236);
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  overflow: scroll;
}

.container {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
}

h1 {
  margin-top: 7rem;
  font-size: 2rem;
  font-weight: 400;
}

.main-game {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
  margin: 5rem auto;
  max-width: 80%;
  padding: 4rem 0.5rem;
}

input {
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: none;
  outline: none;
  border-bottom: 3px solid rgb(169, 98, 236);
  padding-left: 3rem;
  background-color: whitesmoke;
  max-width: 80%;
}

::placeholder {
  opacity: 0.5;
  font-size: 1em;
}

button {
  padding: 10px 20px 6px 20px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(169, 98, 236);
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(136, 46, 220);
}

p {
  color: rgb(169, 98, 236);
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.hidden {
  display: none;
}
.hidden2 {
  display: none;
}

@media screen and (min-width: 340px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
  }
  .main-game {
    max-width: 50%;
    padding: 4rem 1rem;
  }
  input {
    max-width: 100%;
  }
}
